<p>
  <b>First name:</b>
  <%=h @player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @player.last_name %>
</p>

<p>
  <b>Jersey number:</b>
  <%=h @player.jersey_number %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>